{
    "development":  {
      "username": "testuser",
      "password": "testpwd",
      "database": "testdatabase",
      "host": "localhost",
      "port": 3306,
      "dialect": "mysql",
      "charset": "utf8"
    },
    "production": {
        "use_env_variable": true
    }
  }